---
layout: home
title: EMAC
subtitle: Welcome to the Energy Modeling, Analysis, and Control website
cover-img: [/assets/img/cover1.jpg]
---
EMAC is a group of scholars at UC Berkeley. We work on the engineering, techno-economic, and social challenges to decarbonizing electric power systems. We seek to develop and understand future pathways for decarbonization through energy systems analysis, and we also seek to solve some of the challenges those pathways present by developing new modeling, control, and optimization methods.  

We frequently collaborate with people in other organizations, including industry, government laboratories, and other academic institutions.

EMAC alumni have gone into consulting, the private sector, government research, and academia.

Our website was recently compromised in a larger security incident, and we're still getting things back up and running. 

<h2>Students</h2>
<div class="student-grid">
  {% assign sorted = site.students | sort: 'title' %}
  {% for student in sorted %}
    {% unless student.alumni %}
      {% include student-card.html student=student %}
    {% endunless %}
  {% endfor %}
</div>

{% assign alumni = site.students | where: 'alumni', true | sort: 'title' %}
{% if alumni and alumni.size > 0 %}
<h2>Alumni</h2>
<div class="student-grid">
  {% for student in alumni %}
    {% include student-card.html student=student %}
  {% endfor %}
</div>
{% endif %}
